.index {
  height: 100%;
  padding-bottom: 100px;
}
.search-bar {
  width: 386px;
  margin: 0 auto;
}
.at-search-bar__placeholder-wrap {
  justify-content: left;
  .at-icon {
    color: #15097A;
  }
  .at-search-bar__placeholder {
    color: #062C8193;
  }
}
.at-search-bar__input-cnt {
  border: 1px solid;
  background-color: linear-gradient(to right, #15097A, #FF006A);
  // border-image: linear-gradient(to right, #15097A, #FF006A);
  // border-image-slice: 2;
  // clip-path: inset(0 round 10px);
}
.sps-container {
  margin: 10px;
  padding: 10px;
  height: 279px;
  background-color: #FF59DD2F;
  .wx-swiper-dot {
    position: relative;
    bottom: -10px;
  }
}
.sps-item {
  overflow: hidden;
  .sps-item-box {
    background-position: top left;
    text-align: right;
    .des {
      color: #fff;
      font-size: 36px;
      font-weight: 700;
      background-color: rgb(250,0,106);
      width: 180px;
      text-align: center;
      transform: rotate(-45deg);
      position: absolute;
      left: -45px;
      top: 20px;
    }
    image {
      width: 100%;
    }
  }
}
.cus-tabs {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  padding-left: 40px;
  padding-right: 15px;
  .cus-tab {
    flex: auto;
    font-size: 14px;
    font-weight: 700;
    color: #062C81;
    text-align: center;
    padding: 0 10px;
    &.active {
      color: #D70B5F;
    }
  }
  &::after{
    display: block;
    content: ' ';
    width: 374px;
    height: 8px;
    border-bottom: 2px solid #EDEDED;
  }
}
.tabs {
  padding-left: 40px;
  width: 350px;
  position: relative;
  .at-tabs__item {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    padding: 4px 0px;
    padding-top: 15px;
    color: #000989;
    text-align: center;
    &--active{
      color:#15097A;
      font-weight: 700;
    }
  }
  .at-tabs__underline {
    display: none;
  }
  .at-tabs__item--active {
    .at-tabs__item-underline{
      height: 3px;
      background: linear-gradient(to right, #15097A,#FF006A);
    }
  }
  .filter {
    display: inline-block;
    position: absolute;
    right: -30px;
    top: 15px;
    font-size: 14px;
    color: #000989;
    &::before{
      display: inline-block;
      content: '|';
      color: #D8D8D8;
      position: relative;
      left: -8px;
    }
  }
}
.my-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.card-item {
  height: 204px;
  flex: 197px;
  margin: 10px;
  border-radius: 8px;
  background-color: #f1f1f1;
  box-shadow: 0px 5px 5px #3a3a3a9d;
  position: relative;
  overflow: hidden;
  .img {
    height: 132px;
    position: relative;
    .des {
      color: #fff;
      font-size: 14px;
      font-weight: 700;
      background-color: rgb(250,0,106);
      width: 77px;
      text-align: center;
      transform: rotate(-45deg);
      position: absolute;
      left: -20px;
      top: 10px;
    }
    image {
      width: 16px;
      height: 16px;
      display: inline-block;
    }
    .bottom-row {
      position: absolute;
      width: 100%;
      height: 20px;
      text-align: right;
      bottom: 5px;
      right: 0px;
      padding-right: 10px;
      vertical-align: top;
      view {
        display: inline-block;
        font-size: 12px;
        color: #fff;
        margin-right: 6px;
        position: relative;
        top: -4px;
      }
    }
  }
  .title {
    font-size: 16px;
    font-weight: 700;
    padding: 5px 15px;
  }
  .simple-des {
    font-size: 12px;
    font-weight: 400;
    line-height: 16.5px;
    padding:0px 15px;
  }
  .user-pic {
    position: absolute;
    width: 31px;
    height: 31px;
    right: 10px;
    bottom: 10px;
  }
}